body{
  font-family: 'Poppins', sans-serif;
  color: #8B8888;
}
img{
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.boxed-btn {
  background: #F5B752;
  color: #fff;
  padding: 14px 30px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  display: inline-block;
  transition: all .5s ease;
  border: 1px solid transparent;
}
.boxed-btn:hover {
  background: #0087C7;
  color: #fff;
}
.section-title-small {
  color: #0087C7;
  font-weight: 700;
  text-transform: uppercase;
}
.section-title {
  color: #203047;
  font-weight: 600;
  margin-bottom: 70px;
  font-size: 40px;
  text-transform: capitalize;
}